/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
   =============
   CUSTOM STYLES
   =============
*/
body {
  background: #f4b41a;
  color: #143d59;
  font: 300 16px/22px "Lata", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

/*
	====
	GRID
	====
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
	====
	ROWS
	====
*/
.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #f4b41a;
  background: -webkit-linear-gradient(top, #f4b41a, #f6f1d3);
  background: -moz-linear-gradient(top, #f4b41a, #f6f1d3);
  background: linear-gradient(top, #f4b41a, #f6f1d3);
  padding: 44px 0 22px 0;
}
/*
	==========
	TYPOGRAPHY
	==========
*/
h1,
h3,
h4,
h5,
p {
  margin-bottom: 22px;
}
h1,
h2,
h3,
h4 {
  color: #143d59;
}
h1 {
  font-size: 40px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}
/*
   =====
   LEADS
   =====
*/
.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  =====
  LINKS
  =====
*/
.primary-header a,
.primary-footer a {
  color: #143d59;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}
a:hover {
  color: #a9b2b9;
}
a {
  color: #648880;
  text-decoration: none;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
/*
	=======
	BUTTONS
	=======
*/
.btn {
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #ffffff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #ffffff;
  color: #648880;
}
.btn-default {
  border: 0;
  background: #f4b41a;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #898b8c;
  color: #ffffff;
}

/*
  ========================================
  PRIMARY HEADER
  ========================================
*/

.logo {
  margin: auto 50px;
  border-top: 4px solid #648880;
  float: left;
  font-size: 48px;
  line-height: 44px;
  padding: 40px 0 40px 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/*
  ========================================
  PRIMARY FOOTER
  ========================================
*/

.primary-footer {
  color: #6488800a;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 700;
}

/*
   ===
   NAV
   ===
*/
.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}

/*
	====
	HERO
	====
*/
.hero {
  color: rgb(255, 255, 255);
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}

/*
  ========
  SPEAKERS
  ========
*/

.speaker {
  margin-bottom: 44px;
}
.speaker-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}

.speaker-info img {
  border-radius: 50%;
  height: 130px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}
/*
  =====
  VENUE
  =====
*/

.venue-theatre {
  margin-bottom: 66px;
}
.venue-hotel {
  margin-bottom: 22px;
}
.venue-map {
  height: 264px;
}
/*
  ========
  REGISTER
  ========
*/

.why-register {
  list-style: square;
  margin: 0 0 22px 30px;
}
.why-order {
  list-style: square;
  margin: 0 0 22px 30px;
}
form {
  margin-bottom: 22px;
}
input,
select,
textarea {
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 210px;
}
.register-group textarea {
  height: 78px;
}
/*
 ========================================
 Schedule
 ========================================
*/
table {
  margin-bottom: 44px;
  width: 100%;
}
table:last-child {
  margin-bottom: 0;
}
th,
td {
  padding-bottom: 22px;
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
  width: 20%;
}
td {
  width: 40%;
}
thead {
  line-height: 44px;
}
thead th {
  color: #648880;
  font-size: 24px;
}
tbody td {
  border-top: 1px solid #dfe2e5;
  padding-top: 21px;
}

tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table a {
  color: #888;
}
table h4 {
  margin-bottom: 0;
}
.schedule-offset {
  color: #a9b2b9;
}

.img-logo {
  width: 450px;
  margin: auto 220px;
  float: none;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

#map {
  height: 400px;
  width: 100%;
}
